ion-toolbar {
    text-align: center;
}

ion-icon {
    font-size: 2em;
}

.toolbar-content-md {
    font-size: 2em;
}

.prev-month {
    float: left;
}

.next-month {
    float: right;
}

.p-bold {
    font-weight: bold;
}

.saldo {
    text-align: center;
    font-size: 2em;
}