$colors: (

  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

);
ion-toolbar {
    text-align: center;
}

ion-icon {
    font-size: 2em;
}

.toolbar-content-md {
    font-size: 2em;
}

.prev-month {
    float: left;
    background-color: #f8f8f8;
}

.next-month {
    float: right;
    background-color: #f8f8f8;
}

.p-bold-green {
    font-weight: bold;
    color: #32db64 ;
}

.p-bold-red {
    font-weight: bold;
    color: #f53d3d;
}

.saldo {
    text-align: center;
    font-size: 2em;
}



.check-button {
    float: right;
    background: white;
}